<a href="https://colab.research.google.com/github/LostInAusten/LostInAusten.github.io/blob/main/Copy_of_Python_Self_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning (ML) Python Self-Assessment
---

**DIRECTIONS:**
Please make a copy of this Colab and answer the questions in the coding cells below. You do not need to send this to our team. This is for you to get a feel for the type of Python coding that will be used in this bootcamp.

##### **Question #1:** Print the statement: `The year is 2024.`

In [ ]:
print("The year is 2024")

The year is 2024

##### **Question #2:** Print the sum of 76 and 92.

In [ ]:
a = 76
b = 92
print("The sum of",a, "and",b," is:",a+b)

The sum of 76 and 92  is: 168

##### **Question #3:** Create a variable called `name` and assign it to your name. Then print a statement that reads: `Welcome back, [YOUR NAME]`.

In [ ]:
name = "Sally"
print("Welcome back,",name)

Welcome back, Sally

##### **Question #4:** Write a function named `happy_bday` that has one parameter, `name`. If, for example, the argument for `name` is `"Hans"`, it prints
```
Happy Birthday Hans!
```
Call the function and wish a friend happy birthday!

In [ ]:
def happy_bday(name):
   print("Happy Birthday", name)

happy_bday("Ryan")

Happy Birthday Ryan

##### **Question #5:** Write a function named `how_old` that has two parameters -- `name` and `age`. If the argument for `name` is `"Ana"` and the argument for age is `13`, the function should print: `Ana is 13 years old. `

Call the function with your name and age.

In [ ]:
def how_old(name, age):
    print(name, "is", age, "years old.")

how_old("Sally",55)

Sally is 55 years old.

##### **Question #6:** Create a list called `countries` with the countries: Mexico, France, and Australia.

In [ ]:
countries = ["Mexico", "France", "Australia"]
print(countries)

['Mexico', 'France', 'Australia']

##### **Question #7:** Use indexing to print Alexus' name.

In [ ]:
family = ["Rebecca", "Samuel", "Indiyah", "Alexus"]

In [ ]:
family = ["Rebecca", "Samuel", "Indiyah", "Alexus"]
print(family[3])

Alexus

##### **Question #8:** Replace 'monkeys' with 'penguins' in the list below.

In [ ]:
fav_animals = ["giraffes", "walruses", "pandas", "peacocks", "monkeys"]

In [ ]:
fav_animals = ["giraffes", "walruses", "pandas", "peacocks", "monkeys"]
print("Original list:",fav_animals)
fav_animals[4] = "penguins"
print("Updated list:",fav_animals)

Original list: ['giraffes', 'walruses', 'pandas', 'peacocks', 'monkeys']
Updated list: ['giraffes', 'walruses', 'pandas', 'peacocks', 'penguins']

---
Â© 2024 The Coding School, All rights reserved